<form [formGroup]="editDataForm" (ngSubmit)="onSubmit(editDataForm)">

    <mat-form-field>
        <input matInput type="text" formControlName="productname" placeholder="ProductName">
    </mat-form-field>
    <mat-error>
        <span *ngIf="!editDataForm.get('productname').valid">Please enter Product Name !!!</span>
    </mat-error>
    <mat-form-field>
        <input matInput type="text" formControlName="category" placeholder="Product Category">
    </mat-form-field>
    <mat-error>
        <span *ngIf="!editDataForm.get('category').valid">Please enter category name of 3 alphabets </span>
    </mat-error>

    <mat-form-field>
        <input matInput type="number" formControlName="availableunits" placeholder="Available Units">
    </mat-form-field>
    <mat-error>
        <span *ngIf="!editDataForm.get('availableunits').valid">Please enter atleast a unit </span>
    </mat-error>
    <mat-form-field>
        <span matPrefix>INR &nbsp;</span>
        <input matInput type="number" formControlName="unitprice" placeholder="Unit Price">
    </mat-form-field>
    <mat-error>
        <span *ngIf="!editDataForm.get('unitprice').valid">Please enter the price of a single unit </span>
    </mat-error>

    <div formGroupName="tags">
        <mat-form-field>
            <input matInput type="text" formControlName="tag1" placeholder="Tag 1">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" formControlName="tag2" placeholder="Tag 2">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" formControlName="tag3" placeholder="Tag 3">
        </mat-form-field>
    </div>

    <div formGroupName="location">
        <mat-form-field>
            <input matInput type="text" formControlName="area" placeholder="Area">
        </mat-form-field>
        <mat-error>
            <span *ngIf="!editDataForm.get('location.area').valid">Please enter Area</span>
        </mat-error>
        <mat-form-field>
            <input matInput type="text" formControlName="zone" placeholder="Zone">
        </mat-form-field>
        <mat-error>
            <span *ngIf="!editDataForm.get('location.zone').valid">Please enter Zone</span>
        </mat-error>
        <mat-form-field>
            <input matInput type="text" formControlName="shelf" placeholder="Shelf">
        </mat-form-field>
        <mat-error>
            <span *ngIf="!editDataForm.get('location.shelf').valid">Please enter 5-lettered Shelf Name</span>
        </mat-error>
    </div>

    <mat-form-field>
        <input matInput type="text" formControlName="description" placeholder="Description">
    </mat-form-field>
    <mat-error>
        <span *ngIf="!editDataForm.get('description').valid">Please enter atleast 5 words.</span>
    </mat-error>

    <button type="submit" mat-raised-button [disabled]="!editDataForm.valid"> submit</button>
</form>